In [1]:
import json 
import networkx as nx

In [2]:
import pandas as pd

In [3]:
f = open('venmo-trans.txt')

In [4]:
m = []
for line in f: 
    m.append(json.loads(line))

In [12]:
d = pd.DataFrame(m)

In [13]:
d['created_time'] = pd.to_datetime(d['created_time'])

In [15]:
t = d['created_time'][500]

In [16]:
bool_vec = d['created_time'] > t

In [ ]:
d

In [48]:
G = nx.Graph()

In [49]:
G.add_nodes_from([2,3])

In [50]:
import numpy as np
import matplotlib.pyplot as plt

/usr/local/lib/python2.7/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

In [53]:
s = pd.Series(np.random.rand(5), index = ['a', 'b', 'c', 'd', 'e'])

In [54]:
s

a    0.185298
b    0.808559
c    0.318801
d    0.433973
e    0.530973
dtype: float64

In [55]:
s.index

Index([u'a', u'b', u'c', u'd', u'e'], dtype='object')

In [56]:
pd.Series(np.random.randn(5))

0    0.227674
1   -1.759441
2   -0.282915
3   -0.073242
4    0.310583
dtype: float64

In [66]:
di = {'a': 0., 'b': 1., 'c': 2.}

In [67]:
pd.Series(di)

a    0.0
b    1.0
c    2.0
dtype: float64

In [75]:
pd.Series(.5, index = ['b','c','d','a'])

b    0.5
c    0.5
d    0.5
a    0.5
dtype: float64

In [77]:
s[:3]

a    0.185298
b    0.808559
c    0.318801
dtype: float64

In [78]:
s[s > s.median()]

b    0.808559
e    0.530973
dtype: float64

In [80]:
s[[4,3,1]]

e    0.530973
d    0.433973
b    0.808559
dtype: float64

In [81]:
np.exp(s)

a    1.203577
b    2.244671
c    1.375478
d    1.543378
e    1.700587
dtype: float64

In [82]:
s['a']

0.18529771346472246

In [83]:
s['e']

0.5309733482238479

In [84]:
s['e'] =12.

In [85]:
s

a     0.185298
b     0.808559
c     0.318801
d     0.433973
e    12.000000
dtype: float64

In [86]:
'e' in s

True

In [87]:
'f' in s

False

In [94]:
s.get('f')

In [95]:
s.get('f',np.nan)

nan

In [108]:
s[1:] + s[:-1]
#union between two sets of data. If one data is not found in the other then it will return nan.

a         NaN
b    1.617118
c    0.637603
d    0.867947
e         NaN
dtype: float64

In [113]:
s = pd.Series(np.random.randn(5), name = 'something')

In [117]:
s2 = s.rename('different')

In [118]:
s2.name

'different'

In [119]:
d = { 'one': pd.Series([1.,2.,3.], index =['a','b','c']), 
      'two': pd.Series([1.,2.,3.,4.], index = ['a','b','c','d'])}

In [120]:
df = pd.DataFrame(d)

In [126]:
df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [128]:
pd.DataFrame(d, index = ['d','b','a'])

   one  two
d  NaN  4.0
b  2.0  2.0
a  1.0  1.0

In [129]:
pd.DataFrame(d,  index = ['d', 'b', 'a'], columns = ['two', 'three'])

   two three
d  4.0   NaN
b  2.0   NaN
a  1.0   NaN

In [148]:
df.index

Index([u'a', u'b', u'c', u'd'], dtype='object')

In [149]:
df.columns

Index([u'one', u'two'], dtype='object')

In [150]:
p.columns

Index([u'actor', u'created_time', u'target'], dtype='object')